@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

body{

background-image: url("img/pagina\ larry/fundo.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 3000px;
  font-style: italic;
}

h1{
    font-family: "Irish Grover", system-ui;
    font-size: 175px;
    color: rgb(23, 32, 56);
}

img{
   width: 800px;
  height: 800px;
  object-fit: cover;

}

.subtitle{
     font-family: "Irish Grover", system-ui;
    font-size: 150px;
    color: rgb(23, 32, 56);
}

.info
{
    font-family: "Irish Grover", system-ui;
   font-style: italic;
   font-style: bold;
   color: rgb(255, 255, 255);
}

table, th, td, tr
{
    font-family: "Irish Grover", system-ui;
    size: 500px;
    font-size: 25px;
    background-color: rgb(16, 34, 66);
    border: solid rgb(255, 255, 255);
   border-width: 2px;
   width: 25%;
   color: rgb(255, 255, 255);
}

h2{
    font-family: "Irish Grover", system-ui;
    color: rgb(255, 255, 255);
     font-size: 46px;
}